name: Build and Push docker image to registry using workflows.
on:
  push:
    branches: [main]

  
jobs:
  build_push_docker_image:
    name: Build and Push docker image
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code    
      uses: actions/checkout@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: login to Dockerhub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
         context: Dockerfile/
         push: true
         tags: amit2408/pythonbase21:latest
         